 .highlight {
    background-color: none;
    -webkit-animation-name: highlightanimation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: highlightanimation;
    animation-duration: 1s;
  }

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes highlightanimation {
    from {background-color: none;}
    to {background-color: #CCFFCC;}
}

/* Standard syntax */
@keyframes highlightanimation {
    from {background-color: none;}
    to {background-color: #CCFFCC;}
}